[Unit]
Description=gmedia find
After=gmedia.mount

[Service]
Type=simple

ExecStart=/usr/bin/rclone rc vfs/refresh recursive=true

RemainAfterExit=yes
User=felix
Group=felix

[Install]
WantedBy=multi-user.target
